@charset "utrf-8";
/*公共样式表*/
body{
	font-size: 0.4rem;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding: 0;
	margin: 0;
}
.form-control,.list input{
    -webkit-box-shadow:none;
    box-shadow:none;
}
.form-control:focus,.list input:focus,#price_night:focus{
    -webkit-box-shadow:inset 0 0.013333333333333334rem 0.013333333333333334rem rgba(0,0,0,0.075), 0 0 0.10666666666666667rem rgba(255,232,0,0.8);
    box-shadow:inset 0 0.013333333333333334rem 0.013333333333333334rem rgba(0,0,0,0.075), 0 0 0.10666666666666667rem rgba(255,232,0,0.8);
}
.box,.upload-ul{ 
	zoom:1; 
} 
.box:after,.upload-ul:after{ 
　　content:''; 
　　display:block; 
　　height:0; 
　　font-size:0; 
　　clear:both; 
　　overflow:hidden; 
} 
/*自身样式表*/
.form-horizontal{
	width: 10rem;
	margin:auto;
	font-size: 0.4rem;
	background-color: #f2f2f2;
}
.form-horizontal .form-group{
	margin: 0 3.2%;
	padding: 0.13333333333333333rem 0.13333333333333333rem 0.13333333333333333rem 0;
	line-height: 0.8rem;
}
.form-horizontal .form-group .btn-default{
	width: 9.36rem;
	font-size: 0.4rem;
	text-align: left;
	height: 0.8rem;
	border:0;
	background: -moz-linear-gradient(top, #ffffff 0%, #fed900 50%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fed900 50%,#ffffff 100%);
}
.form-horizontal .form-group .btn-group label{
	width: 9.36rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: left;
	padding: 0;
	margin: 0;
	text-indent: 8%;
	font-size: 0.3rem;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
	background: -moz-linear-gradient(top, #ffffff 0%, #fed900 50%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fed900 50%,#ffffff 100%);
}
.form-horizontal .form-group .btn-group label:hover{
	background: -moz-linear-gradient(top, #ffffff 0%, #fed900 50%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fed900 50%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fed900 50%,#ffffff 100%);
}
.form-horizontal .form-group .btn-group label input{
	width: 0.2rem;
	height: 0.2rem;
	left:4%;
	top: 0;
	bottom: 0;
	margin:auto;
}
.form-horizontal .form-group select option:nth-child(2n){
	
}
.form-horizontal .form-group select option[selected="selected"]{
	background-color: #0f0;
}
.form-horizontal .form-group label{
	text-align: center;
}
.form-horizontal .box{
	margin-bottom: 0.26666666666666666rem;
	background-color: #fff;
	border-bottom:1px solid #ccc;
}
.form-horizontal .box .form-group+.form-group{
	border-top:1px solid #ccc;
}
.form-horizontal .form-group input,.form-horizontal .form-group textarea{
	font-size: 0.4rem;
	height: 0.8rem;
	line-height: 0.8rem;
	outline: none;
	border:0;

}
.form-horizontal #titleInfo{
	display: none;
	color: red;
	font-size: 0.3rem;
	line-height: 1.5em;
}
.form-horizontal .list,.form-horizontal .list input{
    text-align: center;
}
.form-horizontal .list div+div{
    border-left:1px solid #cccccc;
    padding-right:0.13333333333333333rem;
}
.form-horizontal .list div:last-child{
    padding-left:0.13333333333333333rem;
}
.form-horizontal .list input{
	width: 66%;
}
.form-horizontal #price_night{
	width: 83%;
}
.form-horizontal .form-group textarea{
	height: 2.56rem;
	outline: none;
	border:0;
}
.upload-ul{
	text-align: center;
}
.upload-ul img,.upload-ul li{
	width: 3rem;
	height: 3rem;
	display: inline-block;
	vertical-align: middle;
	background-color: red;
	padding: 0;
	margin: 0;
}
.form-horizontal .form-group .telInfo{
	font-size: 0.32rem;
	color: #f33333;
	line-height: 0.7466666666666667rem;
	text-align: left
}
.infoBox{
	height: 2.453333333333333rem;
}

#checkBox input{
	width: 0.4rem;
	height: 0.4rem;
	margin: 0;
}
#checkBox label{
	font-weight: normal;
}
#submit{
	width: 100%;
	height: 1.3333333333333333rem;
	background-color: #ffe800;
	font-weight: bolder;
	color: #0d0d0d;
	font-size: 0.48rem;
}